.codeWindow-mainContainer {
  margin: 1rem;
  width: fit-content;
  height: fit-content;

  border-radius: 0.5rem;
  overflow: hidden;
  text-align: left;
  position: relative;
  overflow-x: hidden;
}

.codeContainer {
  max-height: 350px;
  max-width: 760px;
  overflow-y: auto;
}

.codeContainer::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em;
  background-color: rgb(235, 235, 235);
}

.codeContainer::-webkit-scrollbar-thumb {
  background-color: rgb(156, 156, 156);
  border-radius: 0.2em;
}

.codeContainer .codeWindow-BorderLine-Light {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.codeWindow-BorderLine-Dark {
  box-shadow: 0px 0px 3px 0px rgb(255, 255, 255, 0.5);
}

.font-header {
  font-family: "Permanent Marker";
  color: white;
  font-size: 1rem;
  line-height: 1;
  font-weight: bold;
  padding: 0.8em;
}

.font-header-light {
  color: rgb(27, 27, 27);
}

.codeHeader-container {
  display: flex;
  justify-content: space-between;
  background-color: #3a404d;
  align-items: center;
  padding: 0 0.25em;
  margin: 0;
}

.codeHeader-light {
  background-color: #c7d0e4;
}

p {
  margin: 0;
  padding: 0;
}

.copyButton {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25rem;
  border: none;
  background: none;
  cursor: pointer;
}
