body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  width: 100%;
  height: 100vh;

  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;

  font-family: "Permanent Marker", cursive;
  font-size: 1.25em;
  font-weight: 400;
  letter-spacing: 0em;
}

:root {
  --dark-themeColor: #2c2b2b;
  --darker-themeColor: #1d1c1c;
  --light-themeColor: #eaeaea;
  --lighter-themeColor: #f0f0f0;
  --dark-beckGround: #303030;
  --light-backGround: #ffffff;
}

.page-border {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Themes Dark / Light*/

.header-theme-dark,
.footer-theme-dark {
  background-color: var(--darker-themeColor);
  color: var(--lighter-themeColor);
}

.header-theme-light,
.footer-theme-light {
  background-color: var(--lighter-themeColor);
  color: var(--darker-themeColor);
}

.main-theme-dark {
  background-color: var(--dark-themeColor);
  color: var(--lighter-themeColor);
}

.main-theme-light {
  background-color: var(lighter-themeColor);
}

/* Aditional Components */
